#schedule {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.col {
    display: inline-block;
    margin: 0px 1px;
}

.col-time {
    width: 7%;
}

.col-block {
    width: 12%;
}

.row {
    margin: 2px 0px;
}

.row-days,
.row-days i {
    font-weight: 600;
}

.row-days .col {
    background-color: #8baabf;
}

.row-blocks .col-block {
    background-color: #c0cfda;
}

.row-blocks .col-time,
.row-blocks .col-used {
    background-color: #c2c6ca;
}

@media screen and (max-width: 767px) {
    .col-time {
        width: 5%;
    }
}