.col {
    display: inline-block;
    padding: 1px 1px;
    border: #fff 1px solid;
}

.row {
    margin-top: 2px;
    margin-bottom: 2px
}

.row-header {
    font-weight: 600;
}

.row-header .col {
    background-color: #8baabf;
}

.row-list .col {
    background-color: #c0cfda;
}

td i.fa {
    font-size: 1.4em;
}