{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Ingreso{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Ingreso
      </div>
      <div class="panel-body">
        <form method="post" class="form form-default">
          {% csrf_token %}
          {% bootstrap_form form layout='inline' %}
          <button class="btn btn-primary" type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}