{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Cursos{% endblock %}

{% block libraries %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Nuevo curso
        </div>
        <div class="panel-body">
          <form method="post" class="form form-default addition-form" action="{% url 'classes-list' %}" data-classname="classes">
          {% csrf_token %}
          <input type="hidden" name="id" id="id_id">
          <div class="form-group">
            <label class="sr-only" for="id_subject">Asignatura</label>
            <input type="text" name="subject" autofocus="" maxlength="254" class="form-control" placeholder="Asignatura" title="" required="" id="id_subject">
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_teacher_id">Profesor</label>
            <select type="text" name="teacher_id" autofocus="" class="form-control autoload" placeholder="Profesor" title="" required="" id="id_teacher_id" data-type="users">
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_code">Código</label>
            <input type="text" name="code" autofocus="" maxlength="10" class="form-control" placeholder="Código" title="" required="" id="id_code">
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_year">Año</label>
            <input type="text" name="year" autofocus="" maxlength="254" class="form-control" placeholder="Año" title="" required="" id="id_year">
          </div>

          <button class="btn btn-default" type="reset">Limpiar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <!-- RESULTADOS -->
       <div id="tableContainer" data-classname="classes">
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>Codigo</th>
            <th>Asignatura</th>
            <th>Profesor</th>
            <th></th>
            <th></th>
          </thead>
          <tbody id="classesContainer">

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}