{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Notas{% endblock %}

{% block libraries %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Ingreso de notas
        </div>
        <div class="panel-body">
          <form method="post" class="form form-default addition-form" action="{% url 'grades-list' %}" data-classname="grades">
          {% csrf_token %}
          <input type="hidden" name="id" id="id_id">
          <div class="form-group">
            <label class="sr-only" for="id_test_id">Prueba</label>
            <select type="text" name="test_id" autofocus="" class="form-control autoload" placeholder="Prueba" title="" required="" id="id_test_id" data-type="tests">
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_student_id">Alumno</label>
            <select type="text" name="student_id" autofocus="" class="form-control autoload" placeholder="Alumno" title="" required="" id="id_student_id" data-type="students">
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_value">Nota</label>
            <input type="text" name="value" autofocus="" maxlength="10" class="form-control" placeholder="Nota" title="" required="" id="id_value">
          </div>

          <button class="btn btn-default" type="reset">Limpiar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <!-- RESULTADOS -->
      <div id="tableContainer" data-classname="grades">
        <table class="table table-hover">
          <thead>
            <th>Prueba</th>
            <th>Alumno</th>
            <th>Nota</th>
            <th></th>
            <th></th>
          </thead>
          <tbody id="gradesContainer">

          </tbody>
        </table>
      </div>

    </div>
  </div>

{% endblock %}