{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Promedios anuales{% endblock %}

{% block libraries %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Filtros
        </div>
        <div class="panel-body">
          <a class="btn failing-filter" data-failing="0">Alumnos sin promedios rojos</a>
          <a class="btn failing-filter" data-failing="1">Alumnos con 1 promedio rojo</a>
          <a class="btn failing-filter" data-failing="2">Alumnos con más de 1 promedio rojo</a>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <!-- RESULTADOS -->
      <div id="gradesContainer">
      </div>
    </div>
  </div>
{% endblock %}