{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Alumnos{% endblock %}

{% block libraries %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Nuevo alumno
        </div>
        <div class="panel-body">
          <form method="post" class="form form-default addition-form" action="{% url 'students-list' %}" data-classname="students">
          {% csrf_token %}
          <input type="hidden" name="id" id="id_id">
          <div class="form-group">
            <label class="sr-only" for="id_name">Nombre</label>
            <input type="text" name="name" autofocus="" maxlength="254" class="form-control" placeholder="Nombre" title="" required="" id="id_name">
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_lastname_1">Primer  Apellido</label>
            <input type="text" name="lastname_1" autofocus="" maxlength="254" class="form-control" placeholder="Primer Apellido" title="" required="" id="id_lastname_1">
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_lastname_2">Segundo  Apellido</label>
            <input type="text" name="lastname_2" autofocus="" maxlength="254" class="form-control" placeholder="Segundo Apellido" title="" required="" id="id_lastname_2">
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_gender">Género</label>
            <select type="text" name="gender" autofocus="" class="form-control" placeholder="Género" title="" required="" id="id_gender">
              <option>Sexo</option>
              <option value="f">Femenino</option>
              <option value="m">Masculino</option>
            </select>
          </div>

          <button class="btn btn-default" type="reset">Limpiar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <!-- RESULTADOS -->
      <div id="tableContainer" data-classname="students">
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
          </thead>
          <tbody id="studentsContainer">

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}