{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Tests{% endblock %}

{% block libraries %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Nueva prueba
        </div>
        <div class="panel-body">
          <form method="post" class="form form-default addition-form" action="{% url 'tests-list' %}" data-classname="tests">
          {% csrf_token %}
          <input type="hidden" name="id" id="id_id">
          <div class="form-group">
            <label class="sr-only" for="id_school_class_id">Curso</label>
            <select type="text" name="school_class_id" autofocus="" class="form-control autoload" placeholder="Curso" title="" required="" id="id_school_class_id" data-type="classes">
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="id_datetime">Fecha y Hora</label>
            <input type="text" name="datetime" autofocus="" maxlength="254" class="form-control" placeholder="Fecha y Hora" title="" required="" id="id_datetime">
          </div>

          <button class="btn btn-default" type="reset">Limpiar</button>
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <!-- RESULTADOS -->
      <div id="tableContainer" data-classname="tests">
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>Curso</th>
            <th>Fecha/Hora</th>
            <th></th>
            <th></th>
          </thead>
          <tbody id="testsContainer">

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}